*{
    margin: 0px;
    padding: 0px;
}

:root{
    --primary: #F85606;
    --heading: #424242;
}
body{
     background-color: #f2eded;
}

.navbar{
    background-color: var(--primary);
    padding: 0px 50px 35px 50px;
}

h3{
    font-size: 16px;
    color: var(--primary);
    font-weight: 0.8em;
}

h2{
    font-size: 23px;
    color: var(--heading);
}
h5{
    color: var(--primary);
    font-weight: 450;
}
.icon{
    color: var(--primary) ;
    background-color: #FFE1D2;
    padding: 8px;
height: 40px;
  
    width: 50px !important;
    
}

.search{
    display: flex;
    justify-content: start;
    width: 70%;
    align-items: center;
}

.searchinput{
    width: 600px;
    padding: 8px 8px;
    border: none;
    border-radius: 2px;
}

.icon2{
    color: white;
    font-size: 40px;
}

/* nav1 */

.nav1{
    background-color: var(--primary);
    color: white;
    font-size: 12px;
}

.nav1 ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
   
}

.nav1list{
    display: flex;
    justify-content: end;
}


/* carousel */
/* .myicon{
    color: black !important;
} */

.carousel-control-prev i{
    font-size: 15px;
    color: white;
  
   padding-bottom: 4px;
   padding-top: 4px;
   
}
.carousel-control-next{
     font-size: 15px;
    color: white;
  
   padding-bottom: 4px;
   padding-top: 4px;
}
.myicon{
      background-color: black;
    padding: 4px;
     border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;

}


/* sale */

.firstCard{
    margin-left: 1px;
      margin-right: 1px;
}
.headSec{
    border-bottom: 1px solid rgb(188, 185, 185);
}

.myBtn{
    color: var(--primary);
    padding: 5px 20px;
    background-color: white !important;
    border: 1px solid var(--primary);
}



@media (max-width: 768px) {
    
    .search{
        display: none;
    }
}