*{
    margin: 0px;
    padding: 0px;
}

:root{
    --primary: #F85606;
}

.navbar{
    background-color: var(--primary);
    padding: 0px 50px 35px 50px;
}

.icon{
    color: var(--primary) ;
    background-color: #FFE1D2;
    padding: 8px;
height: 40px;
  
    width: 50px !important;
    
}

.search{
    display: flex;
    justify-content: start;
    width: 70%;
    align-items: center;
}

.searchinput{
    width: 600px;
    padding: 8px 8px;
    border: none;
    border-radius: 2px;
}

.icon2{
    color: white;
    font-size: 40px;
}

/* nav1 */

.nav1{
    background-color: var(--primary);
    color: white;
    font-size: 12px;
}

.nav1 ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
   
}

.nav1list{
    display: flex;
    justify-content: end;
}

@media (max-width: 768px) {
    
    .search{
        display: none;
    }
}