*{
    margin: 0px;
    padding: 0px;
}

:root{
    --primary: #F85606;
    --heading: #424242;
    --border-color:rgb(188, 185, 185);
}
body{
     background-color: #f2eded;
}

.navbar{
    background-color: var(--primary);
    padding: 0px 50px 35px 50px;
}

h4{
    font-size: 16px;
    color: var(--primary);
    font-weight: 0.8em;
}

h3{
    font-size: 23px;
    color: var(--heading);
}
h5{
    color: var(--primary);
    font-weight: 450;
}
.icon{
    color: var(--primary) ;
    background-color: #FFE1D2;
    padding: 8px;
height: 40px;
  
    width: 50px !important;
    
}

.search{
    display: flex;
    justify-content: start;
    width: 70%;
    align-items: center;
}

.searchinput{
    width: 600px;
    padding: 8px 8px;
    border: none;
    border-radius: 2px;
}

.icon2{
    color: white;
    font-size: 40px;
}

/* nav1 */

.nav1{
    background-color: var(--primary);
    color: white;
    font-size: 12px;
}

.nav1 ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
   
}

.nav1list{
    display: flex;
    justify-content: end;
}


/* carousel */
/* .myicon{
    color: black !important;
} */

.carousel-control-prev i{
    font-size: 15px;
    color: white;
  
   padding-bottom: 4px;
   padding-top: 4px;
   
}
.carousel-control-next{
     font-size: 15px;
    color: white;
  
   padding-bottom: 4px;
   padding-top: 4px;
}
.myicon{
      background-color: black;
    padding: 4px;
     border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;

}


/* sale */

.firstCard{
    margin-left: 1px;
      margin-right: 1px;
}

.sale-card:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.headSec{
    border-bottom: 1px solid var(--border-color);
}

.myBtn{
    color: var(--primary);
    padding: 5px 20px;
    background-color: white !important;
    border: 1px solid var(--primary);
}



/* category section */


.category-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 1px ;
    background-color: white;
    /* padding-left: 50px;
    padding-right: 50px; */
    padding-top: 20px;
    padding-bottom: 20px;
    
}


.category-img{
    padding-left: 30px;
    padding-right: 30px;
}
.category-img{
    margin-bottom: 10px;
}
.category-para{
    text-align: center;
}
.category-head{
   
}
.category-card1{
    margin-bottom: 20px;
   
}

.category-card1:hover{
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}



.category-cont{
    background-color: #f2eded !important;
}


/* foryou cards */


.foryou-cards{

display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 
}

.for-card1{
    margin: 0px 5px 0px 5px;
    padding: 5px;
    
}

.for-card1:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.cardImg{
    margin-bottom: 5px;
}



@media (max-width: 768px) {
    
    .search{
        display: none;
    }

     .category-cards{
        grid-template-columns: 1fr 1fr;
    }
    .foryou-cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:768px) and (max-width:991px){
    .category-cards{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .foryou-cards{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:576px) and (max-width:768px) {

   
    
}
